<div class="container">
    <h2 class="sobre-mim">Sobre Mim</h2>
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-4" >
                    <p class="primeira-col">Nome :</p>
                    <p class="primeira-col">Telefone :</p>
                    <p class="primeira-col">E-mail</p>
                    <p class="primeira-col">Website</p>
                    <p class="primeira-col">Endereço:</p>
                </div>
                
                <div class="col-6">
                    <p class="segunda-col">Diego Bueno de Souza</p>
                    <p class="segunda-col">(11) 99778-8356</p>
                    <p class="segunda-col">diegobueno.souza@gmail.com</p>
                    <p class="segunda-col">null</p>
                    <p class="segunda-col">Rua Moxoto,     São Paulo-SP</p>
                </div>
            </div>
        </div>
        <div class="col-7 margin-div-2" >
            <p class="resumo" style="font-size: 20px;">Olá, seja bem-vindo ao meu portfolio.</p>
            <p class="resumo">Estou em transição de carreira, atualmente trabalho na area Fiscal, mas em breve terei a experiência tão sonhada de ser Desenvolvedor. 
                Cursandoo ultimo semestre do curso de Analise e Desenvolvimento de Sistema pela Faculdade Impacta
                </p>              
            <p class="resumo">No momento estou estudando mais Front End com framework Angular,sempre curioso para aprender algo nosso, tenho uma meta que devo sempre aprender algo novo todos os dias, não importa onde seja: uma nova tag em HTML,  novos estilos com CSS, metodos nativos em JS ou vendo coutendo do Bootstrap</p>
        </div>
        
    </div>
    
</div>
