<div class="container">
    <h2 class="titulo">Sobre Mim</h2>
    <div class="row">        
        <div class="col-md-12 col-sm-12"  >
            <p class="resumo" style="font-size: 20px;">Olá, seja bem-vindo ao meu portfolio.</p>
            <p class="resumo">Meu nome é Diego, estou em transição de carreira, atualmente trabalho na area Fiscal, mas em breve terei a experiência tão sonhada de ser Desenvolvedor. 
                estou cursando ultimo semestre do curso de Analise e Desenvolvimento de Sistema pela Faculdade Impacta
            </p>              
            <p class="resumo">No momento estou estudando mais Front-end com Framework Angular, sempre motivado e curioso para aprender algo nosso, tenho uma meta que devo sempre aprender algo novo todos os dias, não importa onde seja: uma nova tag em HTML,  novos estilos com CSS, metodos nativos em JS ou vendo conteúdo do Bootstra.p</p>
        </div>        
    </div>
    
    <div>
        <p class="primeira-col">Nome :  Diego Bueno de Souza</p>
        <p class="primeira-col">Telefone : (11) 99778-8356</p>        
        <p class="primeira-col">E-mail: diegobueno.souza@gmail.com </p>
        <p class="primeira-col">Linkedin: <a href="https://www.linkedin.com/in/diego-souza91/" target="_blank"> https://www.linkedin.com/in/diego-souza91/</a></p>
        <p class="primeira-col"> Github:  <a href="https://github.com/Diegobuenodesouza" target="_blank"> https://github.com/Diegobuenodesouza </a></p>
    </div>
    
   
</div>
