.container{
    margin-top: 25px;
   
}

.card-text {
    text-align: justify;
}

.card {
    margin-left: 10%;
    margin-top: -20px;
    border: 2px solid black;
    background-color:  #ff9100c2;
}
.barra{
    margin-left: 20%;
    color:black;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -28px;
}

.icon{
    margin-bottom: 20px;
    color: black;
    border: black solid 1px;
    padding: 10px;
    border-radius: 20%;
    margin-top: -43px;
    margin-left: 17%;
}

.card-title , .card-text {
    font-family: 'Yusei Magic', sans-serif;
   
}

.card-text{
    font-size: 14px;
}




