<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand disabled" href="#">Portfolio</a>    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  href="#">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Experiência</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#" >Educação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#" >Referências</a>
          </li>
        </ul>
        <form class="d-flex size-icons">
          <i class="fa fa-github-square padding-icons"></i>
          <i class="fa fa-linkedin-square padding-icons"></i>
          <i class="fa fa-instagram padding-icons"></i>
        </form>
      </div>
    </div>
  </nav>