<a id="portfolio" class="textolink">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: -10px;" >
    <div class="container-fluid" style="background-color: #ff9100ea;padding: 15px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"  >Portfolio</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#sobremim">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#formacao" >Profissional / Formação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#conhecimentos">Conhecimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projetos">Projetos</a>
          </li>
        </ul>     
      </div>
    </div>
  </nav>
</a>

  <a href="#portfolio">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill"  viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
  </svg>
</a>
  
  <app-home id="top"></app-home> 
  <app-about-me id="sobremim"></app-about-me>
  <app-trabalho id="formacao"></app-trabalho>
  <app-conhecimento id="conhecimentos"></app-conhecimento>
  <app-projetos id="projetos"></app-projetos>
  <app-referencias></app-referencias>

  
