.titulo{
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    margin: 35px -10px;
    font-weight: bold;  
}

.bi-arrow-up-circle-fill{
    position: absolute;position: fixed;
    height: 160%;
    color: inherit;
    color: black;
    margin-left: 20px;
}

.textolink{
    text-decoration: none;
    color: black;
    
}
