.img-fundo{
    height: 600px;
    width: 100%;    

    background-color: transparent;
    background-size: cover;   
    }

.centralizado{
    text-align: center;
    color: white;
    animation-name: animacao;
    animation-duration: 4s;
}

.divisao{
    height: 2px;
    width: 100%;
    background-color: white;    box-shadow: 100px 100px 100px black;
}

.foto-perfil{
    margin: 75px 0px 50px;
    border-radius: 50%;
    opacity: .9;
    border: 1px solid rgba(255, 255, 255, 0.822);
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.555);
}

h1, h3{
    margin-top: 25px;
    font-family: 'Bangers', cursive;    
}

@keyframes animacao{
    0%{ opacity: 0;}
    100%{opacity: 1;}
}

